
.jumbotron {
  padding-top: 6rem;
  background-color: #7dedff;
}

#talents {
  background-color: #7dedff;
}

section {
  padding-top: 5rem;
}
.skill-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: text-top;
}
